{% extends  'base.html'%}
{% block content %}
<div class="topnews">
    <div class="news_title">{{blog.caption}}</div>

    <div class="news_author">
        <span class="au01">{{blog.author.name}}</span><span class="au02">{{blog.publish_time|date:"Y-m-d"}}</span>
        <strong class="au04 f_r"><span class="ds-thread-count" data-thread-key="{{blog.id}}" data-count-type="comments"></span></strong>
    </div>
    <div class="tags">
        {% for tag in blog.tags.all%}
        <a>{{tag.tag_name}}</a>
        {% endfor %}
    </div>
    <div class="news_about"><strong>简介</strong>{{blog.caption}}</div>
    <div class="news_content">
        <ul>
            <p class="pageLink">{{blog.content}}</p>
        </ul>
    </div>
    <div class="fenx">
        <div class="bdsharebuttonbox bdshare-button-style1-24" data-bd-bind="1455786294484"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_huaban" data-cmd="huaban" title="分享到花瓣"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a></div>
        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "24" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
    </div>
    <div class="nextinfo">
       
    </div>
    <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
            {% if prev %}<p>上一篇： <a href="{% url 'detailblog' id=prev.id %}">{{prev.caption}}</a></p>
            {% else %}
            <p><a href="/index/">返回首页</a></p>
            {% endif%}

            {% if next %} <p>下一篇：<a href="{% url 'detailblog' id=next.id %}">{{next.caption}}</a></p>
            {% else %}
            <p><a href="/index/">返回首页</a></p>
            {% endif%}
        </ul>
    </div>
    <div class="news_pl">
        <h2>文章评论</h2>
        {% include "duoshuo.html" %}
    </div>
</div>
{% endblock %}