{% extends  'base.html'%}
{% block content %}
<div class="l_box f_l">

    <!-- banner代码 结束 -->
    <div class="topnews">
        <h2>

            <b>文章</b>推荐
        </h2>
        {% for post in blog_list%}
        <div class="blogs">
            <!--<figure><img src="../static/images/01.jpg"></figure>-->
            <ul>
                <div class="dayTitle">
                    {{post.publish_time|date:"Y-m-d"}}
                </div>
                <h3>
                    <a href="{% url 'detailblog' id=post.id %}">{{post.caption}}</a>
                </h3>
                <div>
                    {{post.content|truncatechars:300|safe}}
                </div>
                <h4><a class="readmore" href="{% url 'detailblog' id=post.id %}">阅读全文</a></h4>
                <p class="autor">
                    {% for tag in post.tags.all%}
                    <span class="lm f_l">
                        <a href="">
                            {{tag.tag_name}}
                        </a>
                    </span>
                    {% endfor %}
                    <!--<span class="dtime f_l">{{post.publish_time|date:"Y-m-d H:i:s"}}</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span>-->
                    <span class="pingl f_r"><span class="ds-thread-count" data-thread-key="{{post.id}}" data-count-type="comments"></span></span>
                </p>
            </ul>
        </div>
        {% endfor %}
        <nav>
            <ul class="pagination">
                {% for page_number in blog_list.paginator.page_range %}
                {% ifequal page_number topics.number %}
                <li><a href="#">{{ page_number }}</a></li>
                {% else %}
                <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endifequal %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
<div class="r_box f_r">
    <div class="tit01 ">
        
    </div>
    <div class="cloud">
        <h3>标签云</h3>
        <ul>
            {% for tag in tags%}
            <li><a href="/">{{tag.tag_name}}</a></li>
            {%endfor%}
        </ul>
    </div>
    <div class="tuwen">
        <h3>图文推荐</h3>
        <ul>

        </ul>
    </div>
    <div class="ad"> <img src="">
    </div>
    <div class="links">
        <h3><span>[<a href="/">申请友情链接</a>]</span>友情链接
        </h3>
        <ul>

        </ul>
    </div>
</div>
<script type="text/javascript">
    var duoshuoQuery = { short_name: "xxxxx" };
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript'; ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
{% endblock %}
